# Chapter 5 - The CASAction and CASTable Objects

## Getting Started with CASAction Objects

In [1]:
import swat

In [2]:
conn = swat.CAS('server-name.mycompany.com', 5570, 'username', 'password')

In [ ]:
conn.fetch?

Create an instance of the Fetch object.

In [3]:
fa = conn.Fetch()

In [4]:
type(fa)

swat.cas.actions.table.Fetch

In [5]:
type(fa).__bases__

(swat.cas.actions.CASAction,)

In [6]:
out = conn.loadtable('data/iris.csv', caslib='casuser')

NOTE: Cloud Analytic Services made the file data/iris.csv available as table DATA.IRIS in caslib CASUSER(username).

Call the CASAction instance.

In [7]:
fa(table=dict(name='data.iris', caslib='casuser'), to=5)

[Fetch]

 Selected Rows from Table DATA.IRIS

    sepal_length  sepal_width  petal_length  petal_width species
 0           5.1          3.5           1.4          0.2  setosa
 1           4.9          3.0           1.4          0.2  setosa
 2           4.7          3.2           1.3          0.2  setosa
 3           4.6          3.1           1.5          0.2  setosa
 4           5.0          3.6           1.4          0.2  setosa

+ Elapsed: 0.00369s, user: 0.002s, sys: 0.001s, mem: 1.65mb

In [8]:
fa(table=dict(name='data.iris', caslib='casuser'), to=5,
              sortby=['sepal_length', 'sepal_width'])

[Fetch]

 Selected Rows from Table DATA.IRIS

    sepal_length  sepal_width  petal_length  petal_width species
 0           4.3          3.0           1.1          0.1  setosa
 1           4.4          2.9           1.4          0.2  setosa
 2           4.4          3.0           1.3          0.2  setosa
 3           4.4          3.2           1.3          0.2  setosa
 4           4.5          2.3           1.3          0.3  setosa

+ Elapsed: 0.0145s, user: 0.008s, sys: 0.006s, mem: 8.58mb

Set additional parameters.

In [9]:
fa.set_params('table', dict(name='data.iris', caslib='casuser'),
              'to', 5)
fa

?.table.Fetch(table=dict(caslib='casuser', name='data.iris'), to=5)

In [10]:
fa()

[Fetch]

 Selected Rows from Table DATA.IRIS

    sepal_length  sepal_width  petal_length  petal_width species
 0           5.1          3.5           1.4          0.2  setosa
 1           4.9          3.0           1.4          0.2  setosa
 2           4.7          3.2           1.3          0.2  setosa
 3           4.6          3.1           1.5          0.2  setosa
 4           5.0          3.6           1.4          0.2  setosa

+ Elapsed: 0.00335s, user: 0.003s, sys: 0.001s, mem: 1.64mb

Alternative ways of setting parameters.  These are all equivalent.

In [13]:
fa.set_params(('table', dict(name='data.iris', caslib='casuser')),
              ('to', 5))
fa

?.table.Fetch(table=dict(caslib='casuser', name='data.iris'), to=5)

In [14]:
fa.set_params({'table': dict(name='data.iris', caslib='casuser'),
               'to': 5})
fa

?.table.Fetch(table=dict(caslib='casuser', name='data.iris'), to=5)

In [15]:
fa.set_params(table=dict(name='data.iris', caslib='casuser'),
              to=5)
fa

?.table.Fetch(table=dict(caslib='casuser', name='data.iris'), to=5)

### Setting Nested Parameters

In [16]:
fa = conn.Fetch()

In [17]:
fa.set_params('table.name', 'data.iris',
              'table.caslib', 'casuser')
fa

?.table.Fetch(table=dict(caslib='casuser', name='data.iris'))

In [18]:
fa.set_params('sortby.0.name', 'petal_length',
              'sortby.0.formatted', 'raw',
              'sortby.1.name', 'petal_width',
              'sortby.1.formatted', 'raw')
fa

?.table.Fetch(sortby=dict(0=dict(formatted='raw', name='petal_length'), 1=dict(formatted='raw', name='petal_width')), table=dict(caslib='casuser', name='data.iris'))

In [19]:
fa(to=5)

[Fetch]

 Selected Rows from Table DATA.IRIS

    sepal_length  sepal_width  petal_length  petal_width species
 0           4.6          3.6           1.0          0.2  setosa
 1           4.3          3.0           1.1          0.1  setosa
 2           5.0          3.2           1.2          0.2  setosa
 3           5.8          4.0           1.2          0.2  setosa
 4           4.7          3.2           1.3          0.2  setosa

+ Elapsed: 0.0134s, user: 0.011s, sys: 0.002s, mem: 8.58mb

### Setting Parameters as Attributes

In [20]:
fa = conn.Fetch()

In [21]:
fa.params.table.name = 'data.iris'
fa.params.table.caslib = 'casuser'
fa

?.table.Fetch(table=dict(caslib='casuser', name='data.iris'))

In [22]:
fa.params.sortby[0].name = 'petal_width'
fa.params.sortby[0].formatted = 'raw'
fa.params.sortby[1].name = 'petal_length'
fa.params.sortby[1].formatted = 'raw'
fa

?.table.Fetch(sortby=[dict(formatted='raw', name='petal_width'), dict(formatted='raw', name='petal_length')], table=dict(caslib='casuser', name='data.iris'))

You can save typing by creating a sortby variable first.

In [25]:
sortby = fa.params.table.sortby
sortby[0].name = 'petal_width'
sortby[0].formatted = 'raw'
sortby[1].name = 'petal_length'
sortby[1].formatted = 'raw'
sortby

{0: {'formatted': 'raw', 'name': 'petal_width'},
 1: {'formatted': 'raw', 'name': 'petal_length'}}

Be careful of name collisions with dictionary method names!

In [29]:
fa.params.pop = 'corn'

This returns the dictionary method, not the value we just added to the parameters.

In [31]:
fa.params.pop

<bound method xadict.pop of {'sortby': {0: {'name': 'petal_width', 'formatted': 'raw'}, 1: {'name': 'petal_length', 'formatted': 'raw'}}, 'pop': 'corn', 'table': {'sortby': {0: {'name': 'petal_width', 'formatted': 'raw'}, 1: {'name': 'petal_length', 'formatted': 'raw'}}, 'name': 'data.iris', 'caslib': 'casuser'}}>

Using dictionary syntax will return the proper value though.

In [33]:
fa.params['pop']

'corn'

Parameters can also be set directly on the **CASAction** instance.

In [35]:
fa = conn.Fetch()

In [36]:
fa.table.name = 'data.iris'
fa.table.caslib = 'casuser'
fa

?.table.Fetch(table=dict(caslib='casuser', name='data.iris'))

In [37]:
fa(to=5)

[Fetch]

 Selected Rows from Table DATA.IRIS

    sepal_length  sepal_width  petal_length  petal_width species
 0           5.1          3.5           1.4          0.2  setosa
 1           4.9          3.0           1.4          0.2  setosa
 2           4.7          3.2           1.3          0.2  setosa
 3           4.6          3.1           1.5          0.2  setosa
 4           5.0          3.6           1.4          0.2  setosa

+ Elapsed: 0.00336s, user: 0.003s, mem: 1.64mb

### Retrieving and Removing Action Parameters

In [39]:
fa = conn.Fetch(to=5, table=dict(name='data.iris', caslib='casuser'))
fa

?.table.Fetch(table=dict(caslib='casuser', name='data.iris'), to=5)

In [40]:
fa.get_param('to')

5

In [41]:
fa.get_params('to', 'table.name')

{'table.name': 'data.iris', 'to': 5}

In [43]:
fa.del_params('to', 'table.caslib')
fa

?.table.Fetch(table=dict(name='data.iris'))

In [44]:
fa.has_param('table.caslib')

False

In [45]:
fa.has_param('table.name')

True

In [46]:
fa.has_param('table.name', 'to')

False

Retrieve parameter values using attributes.

In [47]:
fa = conn.Fetch(to=5, table=dict(name='data.iris', caslib='casuser'))
fa

?.table.Fetch(table=dict(caslib='casuser', name='data.iris'), to=5)

In [48]:
fa.table.name

'data.iris'

In [49]:
fa.table

{'caslib': 'casuser', 'name': 'data.iris'}

In [50]:
del fa.table.caslib

In [51]:
fa.table

{'name': 'data.iris'}

## First Steps with the CASTable Object

In [52]:
out = conn.loadtable('data/iris.csv', caslib='casuser')
out

ERROR: The table DATA.IRIS already exists in caslib CASUSER(username).
ERROR: The action stopped due to errors.

[caslib]

 'CASUSER(username)'

[tableName]

 'DATA.IRIS'

[casTable]

 CASTable('DATA.IRIS', caslib='CASUSER(username)')

+ Elapsed: 0.000472s, mem: 0.123mb

In [53]:
out['tableName']

'DATA.IRIS'

In [54]:
out['caslib']

'CASUSER(username)'

In [55]:
out['casTable']

CASTable('DATA.IRIS', caslib='CASUSER(username)')

In [56]:
out.casTable

CASTable('DATA.IRIS', caslib='CASUSER(username)')

In [57]:
out.casTable.tableinfo()

,Name,Rows,Columns,Encoding,CreateTimeFormatted,ModTimeFormatted,JavaCharSet,CreateTime,ModTime,Global,Repeated,View,SourceName,SourceCaslib,Compressed,Creator,Modifier
0,DATA.IRIS,150,5,utf-8,03Nov2016:15:28:57,03Nov2016:15:28:57,UTF8,1.793806e+09,1.793806e+09,0,0,0,data/iris.csv,CASUSER(username),0,username,

In [58]:
out.casTable.columninfo()

[ColumnInfo]

          Column  ID     Type  RawLength  FormattedLength  NFL  NFD
 0  sepal_length   1   double          8               12    0    0
 1   sepal_width   2   double          8               12    0    0
 2  petal_length   3   double          8               12    0    0
 3   petal_width   4   double          8               12    0    0
 4       species   5  varchar         10               10    0    0

+ Elapsed: 0.000666s, user: 0.001s, mem: 0.169mb

In [59]:
out.casTable.fetch(to=5)

[Fetch]

 Selected Rows from Table DATA.IRIS

    sepal_length  sepal_width  petal_length  petal_width species
 0           5.1          3.5           1.4          0.2  setosa
 1           4.9          3.0           1.4          0.2  setosa
 2           4.7          3.2           1.3          0.2  setosa
 3           4.6          3.1           1.5          0.2  setosa
 4           5.0          3.6           1.4          0.2  setosa

+ Elapsed: 0.00335s, user: 0.002s, sys: 0.001s, mem: 1.64mb

In [60]:
out.casTable.summary()

,Column,Min,Max,N,NMiss,Mean,Sum,Std,StdErr,Var,USS,CSS,CV,TValue,ProbT
0,sepal_length,4.3,7.9,150.0,0.0,5.843333,876.5,0.828066,0.067611,0.685694,5223.85,102.168333,14.171126,86.425375,3.331256e-129
1,sepal_width,2.0,4.4,150.0,0.0,3.054000,458.1,0.433594,0.035403,0.188004,1427.05,28.012600,14.197587,86.264297,4.374977e-129
2,petal_length,1.0,6.9,150.0,0.0,3.758667,563.8,1.764420,0.144064,3.113179,2583.00,463.863733,46.942721,26.090198,1.994305e-57
3,petal_width,0.1,2.5,150.0,0.0,1.198667,179.8,0.763161,0.062312,0.582414,302.30,86.779733,63.667470,19.236588,3.209704e-42

In [61]:
out.casTable.correlation()

[CorrSimple]

 Summary Statistics in Correlation Analysis for DATA.IRIS

        Variable      N      Mean    Sum    StdDev  Minimum  Maximum
 0  sepal_length  150.0  5.843333  876.5  0.828066      4.3      7.9
 1   sepal_width  150.0  3.054000  458.1  0.433594      2.0      4.4
 2  petal_length  150.0  3.758667  563.8  1.764420      1.0      6.9
 3   petal_width  150.0  1.198667  179.8  0.763161      0.1      2.5

[Correlation]

 Pearson Correlation Coefficients for DATA.IRIS

        Variable  sepal_length  sepal_width  petal_length  petal_width
 0  sepal_length      1.000000    -0.109369      0.871754     0.817954
 1   sepal_width     -0.109369     1.000000     -0.420516    -0.356544
 2  petal_length      0.871754    -0.420516      1.000000     0.962757
 3   petal_width      0.817954    -0.356544      0.962757     1.000000

+ Elapsed: 0.00596s, user: 0.005s, sys: 0.004s, mem: 1.73mb

In [62]:
out.casTable.userinfo()

[userInfo]

 {'anonymous': False,
  'groups': ['users'],
  'hostAccount': True,
  'providedName': 'username',
  'providerName': 'Active Directory',
  'uniqueId': 'username',
  'userId': 'username'}

+ Elapsed: 0.000302s, mem: 0.0656mb

Even some Pandas DataFrame methods and attributes work on **CASTable** objects.  Here is a small sample.

In [63]:
out.casTable.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [64]:
out.casTable.dtypes

sepal_length     double
sepal_width      double
petal_length     double
petal_width      double
species         varchar
dtype: object

In [65]:
out.casTable.info()

CASTable('DATA.IRIS', caslib='CASUSER(username)')
Data columns (total 5 columns):
                N   Miss     Type
sepal_length  150  False   double
sepal_width   150  False   double
petal_length  150  False   double
petal_width   150  False   double
species       150  False  varchar
dtypes: double(4), varchar(1)
data size: 8450
vardata size: 1250
memory usage: 8536

In [67]:
out.casTable.describe(include=['all'], percentiles=[.4, .8])

       sepal_length sepal_width petal_length petal_width    species
count           150         150          150         150        150
unique           35          23           43          22          3
top               5           3          1.5         0.2  virginica
freq             10          26           14          28         50
mean        5.84333       3.054      3.75867     1.19867        NaN
std        0.828066    0.433594      1.76442    0.763161        NaN
min             4.3           2            1         0.1     setosa
40%             5.6           3          3.9        1.15        NaN
50%             5.8           3         4.35         1.3        NaN
80%            6.55         3.4         5.35         1.9        NaN
max             7.9         4.4          6.9         2.5  virginica

### Manually Creating a CASTable Object

In [68]:
newtbl = conn.CASTable('data.iris', caslib='casuser')
newtbl

CASTable('data.iris', caslib='casuser')

In [69]:
newtbl.columninfo()

[ColumnInfo]

          Column  ID     Type  RawLength  FormattedLength  NFL  NFD
 0  sepal_length   1   double          8               12    0    0
 1   sepal_width   2   double          8               12    0    0
 2  petal_length   3   double          8               12    0    0
 3   petal_width   4   double          8               12    0    0
 4       species   5  varchar         10               10    0    0

+ Elapsed: 0.000687s, user: 0.001s, mem: 0.169mb

### The CASTable Action Interface

In [70]:
out = conn.loadtable('data/iris.csv', caslib='casuser')
out

ERROR: The table DATA.IRIS already exists in caslib CASUSER(username).
ERROR: The action stopped due to errors.

[caslib]

 'CASUSER(username)'

[tableName]

 'DATA.IRIS'

[casTable]

 CASTable('DATA.IRIS', caslib='CASUSER(username)')

+ Elapsed: 0.000518s, mem: 0.123mb

In [71]:
iris = out.casTable

In [74]:
summ = iris.Summary()
summ

?.simple.Summary(__table__=CASTable('DATA.IRIS', caslib='CASUSER(username)'))

In [75]:
summ()

,Column,Min,Max,N,NMiss,Mean,Sum,Std,StdErr,Var,USS,CSS,CV,TValue,ProbT
0,sepal_length,4.3,7.9,150.0,0.0,5.843333,876.5,0.828066,0.067611,0.685694,5223.85,102.168333,14.171126,86.425375,3.331256e-129
1,sepal_width,2.0,4.4,150.0,0.0,3.054000,458.1,0.433594,0.035403,0.188004,1427.05,28.012600,14.197587,86.264297,4.374977e-129
2,petal_length,1.0,6.9,150.0,0.0,3.758667,563.8,1.764420,0.144064,3.113179,2583.00,463.863733,46.942721,26.090198,1.994305e-57
3,petal_width,0.1,2.5,150.0,0.0,1.198667,179.8,0.763161,0.062312,0.582414,302.30,86.779733,63.667470,19.236588,3.209704e-42

### Setting CASTable Parameters

In [76]:
iris?

In [77]:
iris = conn.CASTable('data.iris', caslib='casuser', 
                     where='''sepal_length > 6.8 and 
                              species = "virginica"''',
                     computedvars=['length_factor'],
                     computedvarsprogram='''length_factor =
                            sepal_length * petal_length;''')
iris

CASTable('data.iris', caslib='casuser', computedvars=['length_factor'], computedvarsprogram='length_factor =\n                            sepal_length * petal_length;', where='sepal_length > 6.8 and \n                              species = "virginica"')

In [78]:
iris.fetch(fetchvars=['sepal_length', 'petal_length', 'length_factor'])

[Fetch]

 Selected Rows from Table DATA.IRIS

     sepal_length  petal_length  length_factor
 0            6.9           5.4          37.26
 1            6.9           5.1          35.19
 2            7.1           5.9          41.89
 3            7.6           6.6          50.16
 4            7.3           6.3          45.99
 5            7.2           6.1          43.92
 6            7.7           6.7          51.59
 7            7.7           6.9          53.13
 8            6.9           5.7          39.33
 9            7.7           6.7          51.59
 10           7.2           6.0          43.20
 11           7.2           5.8          41.76
 12           7.4           6.1          45.14
 13           7.9           6.4          50.56
 14           7.7           6.1          46.97

+ Elapsed: 0.0135s, user: 0.013s, sys: 0.003s, mem: 2.54mb

Using a **CASTable** object as a **casout=** parameter value.

outtbl = conn.CASTable('summout', caslib='casuser', promote=True)
outtbl

In [84]:
iris.summary(casout=outtbl)

,casLib,Name,Rows,Columns,casTable
0,CASUSER(username),summout,5,15,"CASTable('summout', caslib='CASUSER(username)')"

In [85]:
outtbl.fetch()

,_Column_,_Min_,_Max_,_NObs_,_NMiss_,_Mean_,_Sum_,_Std_,_StdErr_,_Var_,_USS_,_CSS_,_CV_,_T_,_PRT_
0,sepal_length,6.90,7.90,15.0,0.0,7.360000,110.40,0.337639,0.087178,0.114000,814.1400,1.596000,4.587485,84.424990,2.332581e-20
1,sepal_width,2.60,3.80,15.0,0.0,3.126667,46.90,0.353486,0.091270,0.124952,148.3900,1.749333,11.305524,34.257443,6.662768e-15
2,petal_length,5.10,6.90,15.0,0.0,6.120000,91.80,0.501711,0.129541,0.251714,565.3400,3.524000,8.197898,47.243615,7.680656e-17
3,petal_width,1.60,2.50,15.0,0.0,2.086667,31.30,0.241622,0.062386,0.058381,66.1300,0.817333,11.579305,33.447458,9.278838e-15
4,length_factor,35.19,53.13,15.0,0.0,45.178667,677.68,5.527611,1.427223,30.554484,31044.4416,427.762773,12.235003,31.654945,1.987447e-14

### Managing Parameters using the Method Interface

In [89]:
iris = conn.CASTable('data.iris', caslib='casuser')
iris.set_param('where', 'sepal_length > 6.8 and species = "virginica"')
iris.set_param('computedvars', ['length_factor'])
iris.set_param('computedvarsprogram', 'length_factor = sepal_length * petal_length;')
iris

CASTable('data.iris', caslib='casuser', computedvars=['length_factor'], computedvarsprogram='length_factor = sepal_length * petal_length;', where='sepal_length > 6.8 and species = "virginica"')

In [90]:
iris.fetch(to=5, fetchvars=['sepal_length', 'petal_length', 'length_factor'])

[Fetch]

 Selected Rows from Table DATA.IRIS

    sepal_length  petal_length  length_factor
 0           6.9           5.4          37.26
 1           6.9           5.1          35.19
 2           7.1           5.9          41.89
 3           7.6           6.6          50.16
 4           7.3           6.3          45.99

+ Elapsed: 0.0137s, user: 0.011s, sys: 0.005s, mem: 2.47mb

All of the following are equivalent ways of setting parameters.

In [91]:
iris.set_params('where', 'sepal_length > 6.8 and species = "virginica"',
                'computedvars', ['length_factor'],
                'computedvarsprogram', 'length_factor = sepal_length * petal_length;')
iris

CASTable('data.iris', caslib='casuser', computedvars=['length_factor'], computedvarsprogram='length_factor = sepal_length * petal_length;', where='sepal_length > 6.8 and species = "virginica"')

In [92]:
iris.set_params(('where', 'sepal_length > 6.8 and species = "virginica"'),
                ('computedvars', ['length_factor']),
                ('computedvarsprogram', 'length_factor = sepal_length * petal_length;'))
iris

CASTable('data.iris', caslib='casuser', computedvars=['length_factor'], computedvarsprogram='length_factor = sepal_length * petal_length;', where='sepal_length > 6.8 and species = "virginica"')

In [93]:
iris.set_params(where='sepal_length > 6.8 and species = "virginica"',
                computedvars=['length_factor'],
                computedvarsprogram='length_factor = sepal_length * petal_length;')
iris

CASTable('data.iris', caslib='casuser', computedvars=['length_factor'], computedvarsprogram='length_factor = sepal_length * petal_length;', where='sepal_length > 6.8 and species = "virginica"')

In [94]:
iris.set_params({'where': 'sepal_length > 6.8 and species = "virginica"',
                 'computedvars': ['length_factor'],
                 'computedvarsprogram': 'length_factor = sepal_length * petal_length;'})
iris

CASTable('data.iris', caslib='casuser', computedvars=['length_factor'], computedvarsprogram='length_factor = sepal_length * petal_length;', where='sepal_length > 6.8 and species = "virginica"')

Checking and retrieving parameters.

In [95]:
iris.has_param('where')

True

In [96]:
iris.has_param('groupby')

False

In [97]:
iris.get_param('where')

'sepal_length > 6.8 and species = "virginica"'

In [98]:
iris.get_params('where', 'computedvars')

{'computedvars': ['length_factor'],
 'where': 'sepal_length > 6.8 and species = "virginica"'}

Deleting parameters.

In [99]:
iris

CASTable('data.iris', caslib='casuser', computedvars=['length_factor'], computedvarsprogram='length_factor = sepal_length * petal_length;', where='sepal_length > 6.8 and species = "virginica"')

In [100]:
iris.del_params('computedvars', 'computedvarsprogram')
iris

CASTable('data.iris', caslib='casuser', where='sepal_length > 6.8 and species = "virginica"')

### Managing Parameters using the Attribute Interface

In [101]:
iris = conn.CASTable('data.iris', caslib='casuser')
iris

CASTable('data.iris', caslib='casuser')

In [102]:
iris.params.where = 'sepal_length > 6.8 and species = "virginica"'
iris

CASTable('data.iris', caslib='casuser', where='sepal_length > 6.8 and species = "virginica"')

In [103]:
iris.params.groupby[0] = 'species'
iris.params.groupby[1] = 'sepal_length'
iris

CASTable('data.iris', caslib='casuser', groupby=['species', 'sepal_length'], where='sepal_length > 6.8 and species = "virginica"')

In [104]:
del iris.params.groupby
del iris.params.where
iris

CASTable('data.iris', caslib='casuser')

Parameters can be set directly on the **CASTable** object as well.

In [105]:
iris.groupby = ['species']
iris.where = 'sepal_length > 6.8 and species = "virginica"'
iris

CASTable('data.iris', caslib='casuser', groupby=['species'], where='sepal_length > 6.8 and species = "virginica"')

### Persisting **CASTable** Parameters

In [107]:
iris

CASTable('data.iris', caslib='casuser', groupby=['species'], where='sepal_length > 6.8 and species = "virginica"')

In [108]:
sub_iris = iris.partition()
sub_iris

[caslib]

 'CASUSER(username)'

[tableName]

 '_T_RBC6QJBX_6HFJ3SUB_ZDE6BCRWX4'

[rowsTransferred]

 0

[shuffleWaitTime]

 0.0

[minShuffleWaitTime]

 1e+300

[maxShuffleWaitTime]

 0.0

[averageShuffleWaitTime]

 0.0

[casTable]

 CASTable('_T_RBC6QJBX_6HFJ3SUB_ZDE6BCRWX4', caslib='CASUSER(username)')

+ Elapsed: 0.0036s, user: 0.002s, sys: 0.001s, mem: 1.63mb

In [109]:
sub_iris = sub_iris.casTable

In [110]:
sub_iris.fetch()

[Fetch]

 Selected Rows from Table _T_RBC6QJBX_6HFJ3SUB_ZDE6BCRWX4

     sepal_length  sepal_width  petal_length  petal_width    species
 0            6.9          3.1           5.4          2.1  virginica
 1            6.9          3.1           5.1          2.3  virginica
 2            7.1          3.0           5.9          2.1  virginica
 3            7.6          3.0           6.6          2.1  virginica
 4            7.3          2.9           6.3          1.8  virginica
 5            7.2          3.6           6.1          2.5  virginica
 6            7.7          3.8           6.7          2.2  virginica
 7            7.7          2.6           6.9          2.3  virginica
 8            6.9          3.2           5.7          2.3  virginica
 9            7.7          2.8           6.7          2.0  virginica
 10           7.2          3.2           6.0          1.8  virginica
 11           7.2          3.0           5.8          1.6  virginica
 12           7.4          2.8           6.1          1.9  virginica
 13           7.9          3.8           6.4          2.0  virginica
 14           7.7          3.0           6.1          2.3  virginica

+ Elapsed: 0.00331s, user: 0.002s, sys: 0.001s, mem: 1.58mb